@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.25rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    height: 100vh; 
}

.logo {
    width: 40%;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img {
    width: 100%;
    margin-bottom: 4rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

main a {
    text-decoration: none;
    text-align: center;
    color: hsl(257, 40%, 49%);
    font-size: 0.8rem;
    background-color: white;
    padding: 0.75rem 5rem;
    border-radius: 50px;
    margin: 0 auto 4rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    max-width: 15rem;
    transition: all 0.2s;
}

main a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%; 
    padding: 0;
    margin: 0.35rem;
    width: 1.875rem;
    height: 1.875rem;
    transition: color 0.2s;
}

footer a {
    color: white;
    display: block;
    padding: 0;
}

.social:hover, footer i:hover {
    color: rgb(239, 82, 202);
    border-color: rgb(239, 82, 202);
}

footer i {
    font-size: 0.8rem;
    transition: color 0.2s;
}

.fa-facebook-f {
    padding: 0.15rem 0.25rem;
}

.fa-twitter {
    padding: 0.55rem 0.5rem 0.5rem 0.55rem;
}

.fa-instagram {
    padding: 0.55rem 0.55rem 0.5rem;
}

@media screen and (min-width: 48em) {
    body {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
        padding: 4rem;
    }
    .container {
        display: grid;
        grid-template-rows: 100px 1fr 100px;
    }

    .logo {
        width: 15%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 4rem;
    }

    .img-section {
        grid-column: span 7;
    }

    .text-section {
        grid-column: span 5;
    }

    h1 {
        font-size: 2.5rem;
        text-align: left;
    }

    p {
        text-align: left;
        line-height: 1.75;
    }

    a {
        margin: 0;
        font-size: 1rem;
        padding: 1rem 3rem;
    }

    footer {
        justify-content: flex-end;
    }
}